.cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h1 {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 45px;
}

.pokemons {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 img {
    height: 15vh;
}