.cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

h2 {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 45px;
}

.pokemons {
    width: 65vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2 img {
    height: 10vh;
}