@mixin position($type: '', $top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin size($hgt, $wdth) {
    height: $hgt;
    width: $wdth;
}

@mixin flexBetween() {
    display: flex;
    justify-content: space-between;
}

@mixin type() {
    @include size(30px, 90px);
    color: #FFF;
    border-radius: 5px;
}

.overlay {
    @include position(fixed);
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.modal {
    @include position(fixed, 15vh, null, null, 25vw);
    @include size(75vh, 45vw);
    background-color: #FFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    z-index: 100;

    &__img {
        @include position(fixed, null, null, 70%, null);
        @include size(null, 200px);
    }

    &__container {
        @include size(null, 100%);
        @include flexBetween();
        margin-top: 110px;
        
        &__title {
            font-size: 30px;
            font-weight: bolder;
        }
        
        &__subtitle {
            margin: 10px 0;
        }

        &__info {
            @include flexBetween();
            flex-direction: row;
            @include size(null, 100%);
        }

        &__stats {
            @include flexBetween();
            @include size(null, 25vw);
            background-color: #343434;
            color: #FFF;
            border-radius: 10px;
            padding: 0 10px;
        }

        &__types {
            @include flexBetween();
            text-align: center;

            &__type {

                margin-left: 2px;

                &__normal {
                    @include type();
                    background-color: #A9A9A9;
                }

                &__grass {
                    @include type();
                    background-color: #008000;
                }

                &__poison {
                    @include type();
                    background-color: #EE82EE;
                }

                &__fire {
                    @include type();
                    background-color: #FF0000;
                }

                &__flying {
                    @include type();
                    background-color: #FFA500;
                }

                &__water {
                    @include type();
                    background-color: #ADD8E6;
                }

                &__ground {
                    @include type();
                    background-color: #DEB887;
                }

                &__fairy {
                    @include type();
                    background-color: #D87093;
                }

                &__bug {
                    @include type();
                    background-color: #90EE90;
                }

                &__fighting {
                    @include type();
                    background-color: #4682B4;
                }

                &__psychic {
                    @include type();
                    background-color: #6A5ACD;
                }

                &__rock {
                    @include type();
                    background-color: #B8860B;
                }

                &__electric {
                    @include type();
                    background-color: #00CED1;
                }

                &__steel {
                    @include type();
                    background-color: #4682B4;
                }

                &__ice {
                    @include type();
                    background-color: #40E0D0;
                }

                &__ghost {
                    @include type();
                    background-color: #8b008b;
                }
            }

        }
    }

    &__button {
        @include position(absolute, 5px, 5px, null, null);
        @include size(2rem, 2rem);
        background: #FFCD00;
        border-radius: 100%;
        border-style: none;
        color: #FFFF;
        font-size: larger;
    }
}