.card {
    margin: 1rem;
}

.card img {
    height: 200px;
    background-color: #E1E1E1;
    border-radius: 5px;
}

.card p {
    text-align: left;
}

span {
    float: left;
    margin-right: .5rem;
}